.event-card {
  height: 300px;
  border: none;
  margin-bottom: 1rem;
  border-radius: 15px;
  box-shadow: 50 50 50 black;
  box-shadow:
    0 8px 25px rgba(0, 0, 0, 0.4),
    0 0 20px rgba(2, 169, 234, 0.45),
    0 0 35px rgba(255, 1, 251, 0.35) !important;

  transition:
    transform 0.25s ease-in-out,
    box-shadow 0.25s ease-in-out;
}

.event-card:hover {
  cursor: pointer;
  transform: translateY(-7px) scale(1.01);
  box-shadow:
    0 15px 35px rgba(0, 0, 0, 0.6),
    0 0 30px rgba(2, 169, 234, 0.7),
    0 0 50px rgba(255, 1, 251, 0.55) !important;
}

.event-card-img {
  border-radius: 15px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.event-card-info {
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 0;
}

.event-card-title {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
}

.event-card-text {
  color: white;
  font-weight: 700;
  margin-bottom: 0.25rem;
}
